@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: 'Lato', 'sans-serif';

    --color-green-50: #e7ffe4;
    --color-green-100: #c9ffc4;
    --color-green-200: #98ff90;
    --color-green-300: #56ff50;
    --color-green-400: #00ff00;
    --color-green-500: #00e606;
    --color-green-600: #00b809;
    --color-green-700: #008b07;
    --color-green-800: #076d0d;
    --color-green-900: #0b5c11;
    --color-green-950: #003406;

    --grid-color: rgba(0, 255, 0, 1);
}

body {
    background-color: var(--color-zinc-900);
    color: var(--color-zinc-100);
    perspective: 1000px;
    overflow: hidden;
}

.grid-bg {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    background-image:
        linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-size: 1% 1%;
    transform-origin: center center;
    animation: scrollGrid 120s linear infinite;
    z-index: -10;
    transform: rotateX(75deg);
}

.mask {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, var(--color-zinc-900) 90%);
    z-index: -1;
}

.linear-mask {
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--color-zinc-900) 50%);
    z-index: -2;
}

@keyframes scrollGrid {
    0% {
        transform: rotateX(80deg) translateY(0);
    }

    100% {
        transform: rotateX(80deg) translateY(50%);
    }
}

.stars {
    position: fixed;
    top: 0%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -15vw 33vh 0px 0px #fff, 20vw -47vh 0px 1px #fff, 22vw 7vh 0px 1px #fff, -1vw 48vh 1px 0px #fff, 15vw -32vh 1px 1px #fff, -36vw 35vh 1px 0px #fff, 44vw 35vh 0px 0px #fff, 27vw 39vh 1px 0px #fff, -34vw 36vh 0px 0px #fff, 27vw 46vh 0px 0px #fff, -6vw 18vh 0px 0px #fff, -45vw -22vh 0px 1px #fff, 34vw -2vh 1px 0px #fff, 34vw 5vh 1px 0px #fff, -7vw 34vh 1px 0px #fff, 44vw 19vh 0px 1px #fff, -19vw -48vh 0px 1px #fff, -10vw -36vh 0px 1px #fff, 11vw 41vh 0px 0px #fff, -26vw -44vh 1px 0px #fff, 39vw -3vh 1px 0px #fff, 22vw 25vh 0px 0px #fff, -49vw 35vh 1px 1px #fff, -23vw 40vh 1px 0px #fff, 33vw 43vh 0px 1px #fff, 0vw 7vh 0px 1px #fff, 40vw 13vh 1px 1px #fff, -49vw -16vh 0px 0px #fff, -23vw 23vh 0px 1px #fff, 11vw -7vh 0px 1px #fff, -20vw 48vh 0px 0px #fff, -11vw 43vh 0px 1px #fff, -48vw -29vh 0px 1px #fff, 3vw -20vh 1px 1px #fff, -12vw -9vh 0px 1px #fff, -34vw 19vh 1px 0px #fff, 50vw 4vh 1px 0px #fff, 38vw 5vh 1px 1px #fff, 29vw -2vh 1px 1px #fff, -20vw 19vh 1px 1px #fff, 23vw 3vh 1px 1px #fff, 22vw 0vh 0px 1px #fff, -17vw -17vh 0px 1px #fff, 43vw 36vh 0px 1px #fff, -44vw 32vh 0px 1px #fff, -41vw -3vh 1px 0px #fff, -19vw -38vh 1px 0px #fff, 24vw 0vh 0px 0px #fff, -13vw -7vh 0px 0px #fff, -8vw -33vh 1px 0px #fff, -12vw 20vh 1px 0px #fff, 28vw 31vh 1px 0px #fff, 28vw 43vh 1px 0px #fff, 29vw -24vh 0px 0px #fff, -18vw -9vh 0px 0px #fff, 48vw 34vh 0px 1px #fff, 25vw 41vh 1px 0px #fff, 38vw 20vh 1px 0px #fff, 34vw 26vh 1px 0px #fff, 47vw 2vh 1px 0px #fff, 46vw 6vh 1px 1px #fff, -25vw -9vh 1px 1px #fff, 25vw 23vh 0px 0px #fff, -23vw -32vh 0px 1px #fff, -19vw 10vh 0px 1px #fff, 23vw 45vh 1px 0px #fff, 16vw -20vh 1px 1px #fff, -19vw -47vh 0px 1px #fff, -8vw 25vh 0px 0px #fff, -34vw 10vh 1px 1px #fff, -35vw -21vh 0px 1px #fff, -6vw -32vh 1px 0px #fff, 32vw -23vh 0px 0px #fff, -6vw 43vh 1px 1px #fff, -27vw -5vh 1px 1px #fff, 48vw -23vh 0px 1px #fff, 41vw 13vh 0px 0px #fff, 36vw 21vh 0px 0px #fff, -5vw 33vh 1px 1px #fff, -47vw 40vh 0px 0px #fff, -7vw -4vh 1px 0px #fff, -42vw 11vh 0px 0px #fff, 23vw -11vh 0px 1px #fff, 13vw 16vh 0px 0px #fff;
}

.content{
    animation: fadeInUp .75s forwards;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }